.main_left {
	float: left;
	width: 390px;
	margin-right: 10px;
	border-radius: 15px 0px 0px 15px;
}

.main_center {
	float: left;
	width: 390px;
	margin-right: 10px;
}

.main_right {
	float: left;
	width: 390px;
	border-radius: 0px 15px 15px 0px;
}

.ml_clickbox {
	height: 150px;
	cursor: pointer;
	width: 76%;
	margin: 35px auto;
	background-color: white;
	border: 5px solid black;
	text-align: center;
	border-radius: 20px;
}

.mc_clickbox {
	text-align: center;
	height: 150px;
	cursor: pointer;
	width: 76%;
	margin: 35px auto;
	background-color: white;
	border: 5px solid black;
	border-radius: 20px;
}

.mr_clickbox {
	text-align: center;
	height: 150px;
	cursor: pointer;
	width: 76%;
	margin: 35px auto;
	background-color: white;
	border: 5px solid black;
	border-radius: 20px;
}

.m_all_clickbt {
	padding: 0;
	line-height: 45px;
	width: 76%;
	height: 30px;
	margin: 0 auto;
	cursor: pointer;
	display: block;
	text-align: center;
	font-family: fantasy;
	font-size: 35px;
}

.mc_insertphonenum {
	width: 76%;
	margin: 0 auto;
	margin-bottom: 10px;
	display: block;
	height: 30px;
	text-align: center;
	font-family: fantasy;
}

.mr_insertcompany {
	width: 37%;
	margin: 0 auto;
	margin-bottom: 10px;
	display: inline;
	height: 30px;
	text-align: center;
	font-family: fantasy;
	margin-left: 12%;
}

.mr_insertnumber {
	width: 37%;
	margin: 0 auto;
	margin-bottom: 10px;
	display: inline;
	height: 30px;
	text-align: center;
	font-family: fantasy;
	margin-left: 4px;
}

.mc_insertcompany {
	width: 37%;
	margin: 0 auto;
	margin-bottom: 10px;
	display: inline;
	height: 30px;
	text-align: center;
	font-family: fantasy;
	margin-left: 12%;
}

.mc_insertnumber {
	width: 37%;
	margin: 0 auto;
	margin-bottom: 10px;
	display: inline;
	height: 30px;
	text-align: center;
	font-family: fantasy;
	margin-left: 4px;
}

.index_main {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.ml_clickbox_img {
	width: 100%;
	text-align: center;
	margin-top: 37px;
}

.mc_clickbox_img {
	height: 90%;
	text-align: center;
	margin-top: 10px;
}

.mr_clickbox_img {
	height: 100%;
	text-align: center;
}