.header {
	display: none;
}

.header-navigation-control {
	display: none;
}

.main-icon {
	margin-top: 50px;
}

.bt_login, .bt_logout {
	margin-top: 60px;
	font-size: 20px;
	color: white;
}

.update_view_url {
	margin-top: 60px;
	font-size: 20px;
	color: white;
}

.bt_update_view_url{
	color:white;	
	text-decoration: none;
}

.bt_update_view_url:hover{
	color:white;	
	text-decoration: none;
}

.main_left {
	float: left;
}

.main_left>form {
	width: 272px;
	margin-top: 15px;
}

.main_center {
	float: left;
}

.main_center>form {
	width: 272px;
	margin-top: 15px;
}

.main_right {
	float: left;
}

.main_right>form {
	width: 272px;
	margin-top: 15px;
}

.ml_clickbox>a {
	float: left;
	position: relative;
}

.mc_clickbox>a {
	float: left;
	position: relative;
}

.mr_clickbox>a {
	float: left;
	position: relative;
}

.m_all_clickbt {
	padding: 0;
	line-height: 45px;
	width: 76%;
	height: 30px;
	margin: 0 auto;
	cursor: pointer;
	display: block;
	text-align: center;
	font-family: fantasy;
	font-size: 35px;
}

.mc_insertphonenum {
	width: 76%;
	margin: 0 auto;
	margin-bottom: 10px;
	display: block;
	height: 30px;
	text-align: center;
	font-family: fantasy;
}

.mr_insertcompany {
	width: 37%;
	margin: 0 auto;
	margin-bottom: 10px;
	display: inline;
	height: 30px;
	text-align: center;
	font-family: fantasy;
	margin-left: 12%;
}

.mr_insertnumber {
	width: 37%;
	margin: 0 auto;
	margin-bottom: 10px;
	display: inline;
	height: 30px;
	text-align: center;
	font-family: fantasy;
	margin-left: 4px;
}

.mc_insertcompany {
	width: 37%;
	margin: 0 auto;
	margin-bottom: 10px;
	display: inline;
	height: 30px;
	text-align: center;
	font-family: fantasy;
	margin-left: 12%;
}

.mc_insertnumber {
	width: 37%;
	margin: 0 auto;
	margin-bottom: 10px;
	display: inline;
	height: 30px;
	text-align: center;
	font-family: fantasy;
	margin-left: 4px;
}

.index_main {
	width: 1034px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 432px;
}

.center {
	background-image: url('../images/new/bg.png');
	background-size: cover;
}

/*
margin-top: 432px;
margin-left: 443px;
}
*/
.ml_clickbox_img {
	cursor: pointer;
	width: 272px;
	height: 218px;
	margin-right: 109px;
	width: 272px;
}

.ml_clickbox_img_over {
	top: 0;
	left: 0;
	position: absolute;
	cursor: pointer;
	width: 272px;
	height: 218px;
	margin-right: 109px;
	width: 272px;
	display: none;
}

.mc_clickbox_img_over {
	top: 0;
	left: 0;
	position: absolute;
	cursor: pointer;
	width: 272px;
	height: 218px;
	margin-right: 109px;
	display: none;
}

.mr_clickbox_img_over {
	top: 0;
	left: 0;
	position: absolute;
	cursor: pointer;
	width: 272px;
	height: 218px;
	display: none;
}

.mc_clickbox_img {
	cursor: pointer;
	width: 272px;
	height: 218px;
	margin-right: 109px;
}

.mr_clickbox_img {
	cursor: pointer;
	width: 272px;
	height: 218px;
}