svg {
	background-color: white;
}

.management_main {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin-top: 125px;
}

.node circle {
	cursor: pointer;
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node text {
	font-family: TitilliumText800wt !important;
	font-size: 11px;
	font-weight: 700;
}

path.link {
	fill: none;
	stroke-linecap: round;
	/*
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
	*/
}

.manage-else {
	float: right;
	margin-right: 2%;
}

#manage-depth-buttons {
	float: left;
}

#manage-depth-buttons-option {
	float: left;
	margin: 0px 10px;
}

.btn.btn-default {
	margin: 0px 1px;
}

.manage-depth-dropdown {
	width: 200px;
}

.manage-submit {
	height: 25px;
	width: 50px !important;
	float: right;
	line-height: 5px;
	margin-top: 10px;
}

.manage-modify {
	height: 25px;
	width: 50px !important;
	float: right;
	line-height: 5px;
	margin-top: 10px;
}

.manage-div-svg {
	width: 270px;
	float: right;
	display: none;
	overflow: hidden;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
	box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
	padding: 10px;
}

.manage-modify-div-svg {
	width: 270px;
	float: right;
	display: none;
	overflow: hidden;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
	box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
	padding: 10px;
}

.form-control.select-input {
	display: inline;
	width: 25%;
}

.form-control.text-input {
	display: inline;
	width: 75%;
}

.input-time {
	float: left;
	padding-right: 10px;
}

.form-horizontal.time-input {
	overflow: hidden;
	margin-top: 150px;
}

.node {
	cursor: pointer;
}

.overlay {
	
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node text {
	font-size: 10px;
	font-family: sans-serif;
}

.link {
	/*
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
	*/
	
}

.templink {
	fill: none;
	stroke: red;
	stroke-width: 3px;
}

.ghostCircle.show {
	display: block;
}

.ghostCircle, .activeDrag .ghostCircle {
	display: none;
}

#svg-tree {
	overflow: hidden;
	border: 1px solid #a1a1a1;
	height: 98%;
	width: calc(100% - 2px);
}

.graph-bts {
	float: right;
	width: 40px;
	height: 40px;
	margin-right: 5px;
	margin-left: 5px;
	opacity: 0.4;
}

#set-tree-mod-bt {
	cursor: pointer;
	background-image: url('../images/manage-modify-icon.png');
	background-size: cover;
	position: relative;
	z-index: 5002;
}

#set-tree-mod-bt:hover {
	opacity: 0.4;
}

#set-tree-add-bt {
	cursor: pointer;
	background-image: url('../images/manage-plus-icon.png');
	background-size: cover;
	position: relative;
	z-index: 5002;
}

#set-tree-del-child-bt {
	cursor: pointer;
	background-image: url('../images/manage-delchild-icon.png');
	background-size: cover;
	position: relative;
	z-index: 5002;
}

#set-tree-add-bt:hover {
	opacity: 0.4;
}

#set-tree-del-bt {
	cursor: pointer;
	background-image: url('../images/manage-delete-icon.png');
	background-size: cover;
	position: relative;
	z-index: 5002;
}

#set-tree-del-bt:hover {
	opacity: 0.4;
}

#set-tree-det-bt {
	cursor: pointer;
	background-image: url('../images/manage-detail-icon.png');
	background-size: cover;
	position: relative;
	z-index: 5002;
}

#set-tree-analy-bt {
	cursor: pointer;
	background-image: url('../images/manage-analysis-icon.png');
	background-size: cover;
	position: relative;
	z-index: 5002;
}

#set-tree-analy-bt:hover {
	opacity: 0.4;
}

#set-tree-det-bt:hover {
	opacity: 0.4;
}

.modal-dialog {
	width: 540px;
}

.delete-pop-text {
	text-align: center;
	font-size: 30px;
}

svg {
	width: 100%;
	border: 1px solid #DEDEDE;
	margin: 0 auto;
}

#cursor_popup_bg {
	padding: 5px;
	border-radius: 10px;
	position: absolute;
	display: none;
	z-index: 5001;
	background: white;
	position: absolute;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

#cursor_popup_black {
	position: absolute;
	display: none;
	z-index: 5001;
	opacity: 0.2;
	background-color: black;
	width: 100%;
	height: 100%;
}

#cursor_popup {
	position: fixed;
	display: none;
	z-index: 5000;
	width: 100%;
	top: 0;
	height: 100%;
	left: 0;
}

.tab-content {
	padding: 20px 0px 0px 0px;
}

.delete-child-pop-text {
	text-align: center;
	font-size: 30px;
}

.day-change {
	float: right;
	width: 100px;
}

#tree-container-holiday {
	display: none;
}

.management-style-div {
	width: 100%;
	background-color: rgb(1, 98, 141);
}

.management-info-div {
	overflow: hidden;
	width: 884px;
	margin: 0 auto;
	width: 884px;
}

.management-title {
	width: 884px;
	height: 135px;
	overflow: hidden;
	margin: 0 auto;
	padding: 15px;
}

.management-title-img {
	margin-top: 55px;
}

.management-add-questions {
	padding: 15px;
}

.management-add-questions>img {
	margin-right: 48px;
}

.management-list-view {
	width: 884px;
	margin: 0 auto;
}

.nav-tabs>li>a {
	margin-left: 1px;
}

.maq-input {
	font-size: 13px;
	padding-left: 5px;
	height: 26px;
	background-color: rgb(51, 129, 163);
	float: left;
	margin-right: 30px;
	border-radius: 5px;
	color: white;
	padding-left: 5px;
}

.management-input-submit {
	background-color: rgb(46, 203, 112);
	height: 24px;
	border-radius: 5px;
	width: 60px;
	color: white;
	font-size: 15px;
	float: right;
}

.management-input-save {
	margin-left: 10px;
	background-color: silver;
	height: 24px;
	border-radius: 5px;
	width: 60px;
	color: white;
	font-size: 15px;
	float: right;
}

.management-input-save.active {
	margin-left: 10px;
	background-color: rgb(46, 203, 112);
	height: 24px;
	border-radius: 5px;
	width: 60px;
	color: white;
	font-size: 15px;
	float: right;
}

.management-input-delete {
	margin-left: 10px;
	background-color: #ec7063;
	height: 24px;
	border-radius: 5px;
	width: 60px;
	color: white;
	font-size: 15px;
	float: right;
}

.management-add-question {
	cursor: pointer;
	float: left;
	margin-right: 30px;
	float: left;
}

.maq-input-1 {
	width: 590px;
}

.maq-input-2-1 {
	width: 65px;
	margin-right: 0px;
}

.maq-input-2-2 {
	width: 65px;
}

.maq-input-3 {
	cursor: pointer;
	padding-top: 3px;
	padding-left: 3px;
	width: 90px;
}

.maq-input-5 {
	width: 660px;
}

.maq-div-1 {
	margin-bottom: 20px;
	overflow: hidden;
}

.maq-div-2 {
	overflow: hidden;
}

.flow-point {
	float: left;
	width: 22px;
	padding-top: 3px;
	padding-left: 7px;
	color: white;
}

.open-detail-div {
	width: 100%;
	background-color: white;
	overflow: hidden;
	text-align: center;
}

.management-list-open {
	
}

.management-list-close {
	
}

.management-contents {
	overflow: hidden;
	padding: 15px;
	width: 886px;
	margin: 0 auto;
	width: 886px;
}

.management-close-bt {
	cursor: pointer;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 8px;
	background-color: rgb(1, 115, 150);
	border-radius: 15px 15px 0px 0px;
}

.tab-detail-div {
	cursor: pointer;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 8px;
	background-color: rgb(1, 115, 150);
	border-radius: 0px 0px 15px 15px;
}

.tab-detail-open {
	overflow: hidden;
	width: 100%;
}

.maq-tag-list {
	width: 100%;
	margin-bottom: 5px;
	display: block;
	float: left;
	margin-bottom: 5px;
}

.ok-close-bts {
	padding: 10px 15px 10px 15px;
}

.mi-2, .mi-3, .mi-4, .mi-5 {
	margin-left: 92px;
}

.management-input-sub-options {
	background-image: url('../images/new/miso-bg.png');
	width: 100%;
	height: 37px;
	overflow: hidden;
}

.miso-center {
	width: 884px;
	padding: 0px 15px;
	margin: 0 auto;
	height: 37px;
	padding-top: 5px;
}

.management-ars-list-title {
	float: left;
}

.management-ars-list {
	cursor: pointer;
	margin: 0px 10px;
	float: right;
	margin: 0px 10px;
}

.management-ars-list:hover {
	border-bottom: 5px rgb(1, 154, 186);
	border-style: inset;
}

.click-border {
	border-bottom: 5px rgb(1, 154, 186);
	border-style: inset;
}

.has-switch {
	-webkit-mask: url('../images/switch/mask.png') 0 0 no-repeat;
	mask: url('../images/switch/mask.png') 0 0 no-repeat;
}

.switch-left {
	font-size: 12px !important;
	color: white !important;
}

.switch-right {
	font-size: 12px !important;;
	color: white !important;
}

.has-switch>div.switch-on label {
	background-color: white;
}

.has-switch span.switch-left {
	background-color: rgb(1, 154, 186);
}

.has-switch>div.switch-off label {
	background-color: white;
}

.has-switch span.switch-right {
	background-color: rgb(1, 154, 186);
}

.has-switch label {
	border: 2px solid rgb(1, 154, 186) !important;
}

.switch.has-switch {
	float: right;
	margin-left: 15px;
}

.allow-up {
	width: 16px;
	height: 14px;
	background-image: url('../images/new/arrow-top.png');
	margin: 0 auto;
	background-size: cover;
	display: block;
}

.allow-down {
	width: 16px;
	height: 14px;
	background-image: url('../images/new/arrow-bottom.png');
	background-size: cover;
	margin: 0 auto;
	display: block;
}

.list-numbering-icon {
	float: left;
	width: 27px;
}

.data-list-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.3;
	z-index: 2000;
}

.data-list {
	z-index: 2001;
	width: 400px;
	position: absolute;
	background-color: white;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	border: 2px solid rgb(1, 98, 141);
}

.data-list-ul {
	padding: 10px;
}

.data-list-ul>li {
	font-size: 14px;
	margin-bottom: 5px;
	cursor: pointer;
}

.data-list-ul>li:hover {
	color: rgb(1, 98, 141);
	font-weight: bold;
}