.pics_main {
	overflow: hidden;
	height: 100%;
	background-color: #ECFBFF;
	padding: 25px;
	margin-top: 100px;
}

.image_not_found {
	width: 500px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	font-size: 40px;
	line-height: 50px;
}

.uploadimages {
	width: 600px;
	margin: 0 auto;
	display: block;
}

.uploadimage-rotate {
	cursor: pointer;
	background-image: url('../images/cycle-image.png');
	background-size: cover;
	position: relative;
	z-index: 5002;
	height: 30px;
	width: 30px;
	float: right;
}

.pics_list{
	overflow:hidden;
}