.qaq-1:hover, .qaq-1.active {
	content: url('../images/new/over_style_icon_1.png');
	margin-top: -2px;
}

.qaq-2:hover, .qaq-2.active {
	content: url('../images/new/over_style_icon_2.png');
	margin-top: -2px;
}

.qaq-3:hover, .qaq-3.active {
	content: url('../images/new/over_style_icon_3.png');
	margin-top: -2px;
}

.qaq-4:hover, .qaq-4.active {
	content: url('../images/new/over_style_icon_4.png');
	margin-top: -2px;
}

.qaq-5:hover, .qaq-5.active {
	content: url('../images/new/over_style_icon_5.png');
	margin-top: -2px;
}

.qna-inputRadios {
	display: none;
	float: left;
	width: 100px;
	margin-top: 12px;
}

label {
	cursor: pointer;
}

.bt-list-control {
	cursor: pointer;
}

input#optionsRadios5 {
	margin-top: 30px;
	margin-right: 10px;
}

.qna-add-questions>img {
	float: left;
	cursor: pointer;
}

.qna-list-open {
	float: right;
	margin-top: 30px;
	margin-right: 20px;
}

.qna-list-close {
	display: none;
	float: right;
	margin-top: 30px;
	margin-right: 20px;
	float: right;
}

.qlo {
	cursor: pointer;
}

.qlo-li {
	display: none;
	visibility: hidden;
}

.qna-list-question+li>div {
	width: 100%;
	display: block;
	padding-left: 60px;
	height: 70px;
	border-bottom: 1px solid rgb(239, 239, 239);
	margin-bottom: 5px;
	background-color: white;
	font-size: 40px;
	line-height: 75px;
}

.qna-list-question+li>div input {
	margin-top: 20px;
}

.center {
	background-color: rgb(236, 240, 241);
}

.qna_main {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	margin-top: 125px;
}

.qna-list-name {
	float: left;
	margin-right: 10px;
	font-size: 36px;
	margin-left: 20px;
	margin-top: 12px;
}

.qna-list-comment {
	font-size: 20px;
	float: left;
	margin-top: 25px;
}

.qna-list-result {
	display: block;
	overflow: hidden;
}

.qna-list-question {
	cursor: pointer;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 71px;
	background-image: url('../images/new/style_bg_title.png');
	margin-top: 30px;
}

ul {
	overflow: hidden;
}

li {
	overflow: hidden;
}

.divide-line {
	width: 100%;
	height: 5px;
	border-bottom: 1px solid darkgray;
	margin-bottom: 25px;
	margin-top: 25px;
}

.qna-submit {
	width: 20%;
	float: right;
}

.form-group {
	margin-top: 10px;
	overflow: hidden;
	text-align: right;
}

label {
	
}

.modal-body {
	text-align: center;
}

svg {
	height: 250px;
}

.investigation-input-submit {
	background-color: rgb(46, 203, 112);
	height: 24px;
	border-radius: 5px;
	width: 60px;
	color: white;
	font-size: 15px;
	margin-top: 2px;
}

.qna-add-questions {
	width: 884px;
	margin: 0 auto;
}

.investigation-title {
	width: 884px;
	height: 120px;
	overflow: hidden;
	margin: 0 auto;
	padding: 15px;
}

.investigation-style-div {
	width: 100%;
	height: 205px;
	background-color: rgb(1, 98, 141);
}

.investigation-info-div {
	width: 884px;
	margin: 0 auto;
}

.investigation-title {
	width: 884px;
	height: 120px;
	overflow: hidden;
	margin: 0 auto;
	padding: 15px;
}

.investigation-title-img {
	margin-top: 55px;
}

.qna-add-questions {
	padding: 15px;
}

.qna-add-questions>img {
	margin-right: 48px;
}

.qna-list-view {
	width: 884px;
	margin: 0 auto;
}

.nav-tabs>li>a {
	margin-left: 1px;
}

.tab-content {
	font-size: 14px;
	padding-top: 10px;
}

.tab-content .control-label {
	padding-top: 14px;
}